@import './blocks/./_index.scss';

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  // *base styles
  --main-font: 'Roboto', sans-serif;
  --width-container: 1188px;
  --padding-container: 15px;

  // *main colors
  --main-color: #000000;
  --accent-color: #e9672b;
  --bg-body: #fbf8f5;

  // *states
  --focus: 2px solid #ff915e;

  --link-hover-color: #ffa880;
  --link-active-color: #ba4915;

  --btn-hover-bg-color: #ffffff;
  --btn-active-bg-color: #e9e3e3;

  --banner-focus: 2px solid #393737;
  --banner-hover: #f1eded;
  --banner-active: #d0cccc;

  --error-color: #ff0000;

  // *header
  --menu-icon-color: #000000;
  --bg-color-menu-mobile: #f3dac0;

  --bg-section: #ffffff;

  // *rooms
  --card-bg-color: #ffffff;
  --card-border-radius: 4px;
  --card-border-orange: 2px solid #e9672b;
  --card-border-blue: 2px solid #225dca;
  --card-border-black: 2px solid #242947;
  --card-border-red: 2px solid #de4333;

  --card-shadow-mediumpurple: 8px 8px 0 0 #cbc6f4;
  --card-shadow-yellow: 8px 8px 0 0 #e7cb43;
  --card-shadow-aquamarine: 8px 8px 0 0 #a2d4c5;
  --card-shadow-chocolate: 8px 8px 0 0 #af4920;

  // *bestsellers
  --bestsellers-bg-card: #ffffff;
  --price-color: #4f4f4f;

  // *banner
  --banner-color: #ffffff;

  // *reviews
  --card-bg-color: #ffffff;
  --card-border-radius: 4px;
  --card-border-orange: 2px solid #e9672b;
  --card-border-blue: 2px solid #225dca;
  --card-border-black: 2px solid #242947;

  --reviews-card-shadow-mediumpurple: 8px -8px 0 0 #cbc6f4;
  --reviews-card-shadow-yellow: 8px -8px 0 0 #e7cb43;
  --reviews-card-shadow-aquamarine: 8px -8px 0 0 #a2d4c5;

  // *moving
  --moving-bg: #f6cfca;
  --moving-border: #cdd454;

  // *footer
  --bg-footer: #f3f0ec;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--main-font);
  font-weight: 400;
  color: var(--main-color);
  background-color: var(--bg-body);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  overflow-y: auto;
}

.main {
  flex: 1 1 auto;
}
.container {
  max-width: calc(var(--width-container) + var(--padding-container) * 2);
  margin: 0 auto;
  padding-inline: var(--padding-container);
}

.link-btn {
  height: 60px;
  border-radius: 30px;
  background-color: var(--accent-color);
  border: 2px solid transparent;
  font-size: 18px;
  line-height: 156%;
  color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color ease 0.2s;
  &:focus {
    border: var(--focus);
  }
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      border: var(--focus);
      background-color: var(--btn-hover-bg-color);
    }
  }
  &:active {
    background-color: var(--btn-active-bg-color);
  }
}
.page-title {
  font-size: clamp(28px, 8vw, 48px);
  line-height: 112%;
}

// *media

@media (max-width: 1196px) {
  // *header
  .header-main {
    padding-top: 40px;
  }
  .header-main__image {
    flex-basis: 100%;
  }
  // *banner
  .banner {
    flex-direction: column;
  }
  .banner__title {
    max-width: none;
  }
}
@media (max-width: 1025px) {
  // *header
  .burger-menu {
    display: flex;
  }
  .navbar__menu {
    width: 100%;
    min-height: 100%;
    background-color: var(--bg-color-menu-mobile);
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    top: -1000px;
    left: 0;
    padding: 20px 0;
  }
  .logo__link {
    order: -1;
  }
  .menu {
    text-align: center;
  }

  .menu__list {
    flex-direction: column;
    gap: 15px;
  }
  .menu--open {
    position: absolute;
    top: 0;
  }
  .basket-btn {
    display: none;
  }
  .basket-btn--mobile {
    width: 25px;
    margin-right: 0;
    display: block;
    position: relative;
    text-align: left;
    z-index: 5;
  }
}
@media (max-width: 768px) {
  // *rooms
  .rooms__cards {
    justify-content: center;
  }

  // *advantages
  .advantages__text {
    order: -1;
  }
  .advantages__description {
    max-width: 350px;
  }
  // *moving
  .moving-top__companys {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 541px) {
  // *footer
  .footer-menu {
    flex-direction: column;
  }
  .footer__container {
    justify-content: center;
    text-align: center;
  }

  // *advantages
  .advantages__text {
    order: -1;
  }
  .advantages__description {
    max-width: 350px;
  }
  // *moving
  .moving-top__companys {
    flex-direction: column;
    align-items: center;
  }
}
